*.o
*.obj
*.lo
*.la
*.al
*.libs
*.dll
*.so
*.dylib
*.exe
*.out
*.app
*.nuget/
*.nupkg
*.snupkg
bin/
obj/
Debug/
Release/
out/
*.user
*.rsuser
*.suo
*.userosscache
*.userprefs
mono_crash.*
ScaffoldingReadMe.txt
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.vscode/
.history/
.idea/
.localhistory
*.log
node_modules/
.vscode/
.vs/
*.code-workspace
.vscode/
.idea/
.vscode/
.vs/
*.csproj.user
*.csproj.userosscache
*.csproj.userprefs
PublishSettings.json
AppPackages/
BundleArtifacts/
!src/
.env
*.opt
coverage/
coverage*.json
coverage*.xml
coverage*.info
TestResult
TestResults
*.trx
*.vscodeTest
.vscodeTest/
*.buildinfo
.sass-cache/
*.log
tmp/
temp/
$RECYCLE.BIN/
*.tlog
*.md
